name: 'W-Extend-All'

on:
  #push:
  schedule:
    # UTC (国内 UTC+8)
     - cron: '40 2 * * *'
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    #runs-on: macos-12

    steps:
        - name: 'Checkout codes'
          uses: actions/checkout@v2
          
        - name: 'Update Chrome'           
          run: |
            brew reinstall --cask google-chrome

        - name: 'Install requirements'
          run: |
            pip3 install -r VPS/requirements.txt
            pip3 install undetected-chromedriver
            yes | pip3 uninstall selenium
            pip3 install selenium==4.2.0 --yes
            
        - name: 'Renew'
          env:
            USER_ID_W_1: ${{ secrets.USER_ID_W_1 }}
            PASS_WD_W_1: ${{ secrets.PASS_WD_W_1 }}
            USER_ID_W_2: ${{ secrets.USER_ID_W_2 }}
            PASS_WD_W_2: ${{ secrets.PASS_WD_W_2 }}
            USER_ID_W_3: ${{ secrets.USER_ID_W_3 }}
            PASS_WD_W_3: ${{ secrets.PASS_WD_W_3 }}
            USER_ID_W_4: ${{ secrets.USER_ID_W_4 }}
            PASS_WD_W_4: ${{ secrets.PASS_WD_W_4 }}
            USER_ID_W_5: ${{ secrets.USER_ID_W_5 }}
            PASS_WD_W_5: ${{ secrets.PASS_WD_W_5 }}
            USER_ID_W_6: ${{ secrets.USER_ID_W_6 }}
            PASS_WD_W_6: ${{ secrets.PASS_WD_W_6 }}
            BARK_KEY: ${{ secrets.BARK_KEY }}
            TG_BOT_TOKEN: ${{ secrets.TG_BOT_TOKEN }}
            TG_USER_ID: ${{ secrets.TG_USER_ID }}

          run: |
            python3 VPS/main-w-1.py
            python3 VPS/main-w-2.py
            python3 VPS/main-w-3.py
            python3 VPS/main-w-4.py
            python3 VPS/main-w-5.py
            python3 VPS/main-w-6.py
